@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(6, 0, 12);
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  /* overflow: hidden; */
}

.map {
  width: 100vw;
  /* position: fixed; */
  height: 100vh;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0%{transform: translate(-100%); opacity: 0;}
  100%{transform: translate(0);opacity: 1;}
}
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left{
  display: none;
}
.popup{
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
}
h1{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  text-shadow: 10px 10px 5px rgb(0, 0, 0);
}

.profile {
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 15px;
  left: 15px;
  
  z-index: 99;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  outline: 2px solid rgb(53, 53, 53);
  padding: 5px;
  border-radius: 35px;
}


.profile>p {
  padding: 0 1em 0 0;
  font-weight: bold;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.profile>p>span {
  font-size: .8em;
  color: rgb(209, 206, 206);
}
.profile>img{
  transform-origin: center bottom;
  animation: bounce 1s linear;
  animation-delay: 5s;
}
.profile:hover>img {
  transform-origin: center bottom;
  animation: bounce 1s linear infinite;
  animation-delay: 0s;
}

@keyframes bounce {

  from,
  20%,
  53%,
  to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
      transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
